.git
.venv
Task2/.venv
**/__pycache__/
**/*.pyc

Task1/
Task2/
Task3/**

!Task3/
!Task3/faiss_index/
!Task3/faiss_index/chunks_filtered_v2.index
!Task3/embeddings/
!Task3/embeddings/chunks_filtered_v2_metadata.json

Task3/embeddings/*.npy
Task3/chunks*.json
 