promt_CoT.md
promt_study.md
Task1/answer_v1.md
Task1/answer_v2.md
Task1/answer_v3.md
Task1/answer_v4.md
Task1/draft_answer.md
Task2/answer_v1.md
Task2/script.md
Task3/task_3_answer.md
todo
Task4/task_4_answer.md
